@import "./../../../../constants/couleur.scss";
@import "./../../../../constants/spacing.scss";

.banner{
    background: $primary;
    position: relative;
}

.banner-content{
    height: 200px;
    padding: 30px 0 30px 0;
    position: relative;
}

.banner-img{
    width: auto;
    height: 200px;
    position: absolute;
    bottom: -10px;
    right: -$marginLR;
}

@media only screen and (min-width: 500px){
    .banner-img{
         height: 270px;
    };
}