@import "../../constants/couleur.scss";
@import "../../constants/spacing.scss";

.display{
    display: flex;
    flex-direction: column;
    gap: 20px;

    .display-head{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .link{
            *{
                font-weight: 400;
                text-decoration: none;
                color: $primary;
                transition: linear all 300ms;
                &:hover{
                    color: darken($color: $primary, $amount: 20);
                }
            }
        }
    }

    .categorys-content{
        display: flex;
        text-align: -webkit-match-parent;
        align-items: stretch;
        justify-content: flex-start;
        gap: $element-spacing;
        list-style: none;
        column-gap: $element-spacing;
        row-gap: $element-spacing;
        justify-content: center;
    }

}


.horizontall{
    overflow-x: auto;

    &::-webkit-scrollbar{
        width: 10px;
        height: 5px;
        border-radius: 10px;
    }

    padding: 30px 0px 30px 0px !important;
}

.displayContainer{
    position: relative;
    height: calc(100% + 50px);

    .arrow{
        position: absolute;
        width: 35px;
        height: 35px;
        background: #f3f3f3;
        color: #1d2424;
        border-radius: 50%;
        bottom: -1px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        z-index: 5;
        //box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;

        &:hover{
            color: darken($color: $primary, $amount: 10);
        }
    }

    .disabled{
        color: lighten($color: #1d2424, $amount: 35);

        &:hover{
            color: lighten($color: #1d2424, $amount: 35);
        }
    }

    .arrow-left{
        left: calc(100%/2 - 37px);
    }

    .arrow-right{
        right: calc(100%/2 - 37px);
    }
}
