.menu{
    background: red;
    position: relative;
    height: 100vh;

    .menu-container{
        background: red;
        height: 100%;
        padding: 50px 30px;
        position: absolute;
    }
}